@media only screen and (max-width: 420px) and (orientation: portrait) {
    .gallery {
        background-color: #EDC7B7;
        padding: 75px 10px;
    }
    
    .carousel {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
    }

    .carousel-prev {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 10px solid rgba(255, 255, 255, 0.75);
        border-left: 10px solid rgba(255, 255, 255, 0.75);
        top: calc(50% - 10px);
        left: 10px;
        transform: rotateZ(-45deg);
    }
    
    .carousel-next {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 10px solid rgba(255, 255, 255, 0.75);
        border-right: 10px solid rgba(255, 255, 255, 0.75);
        top: calc(50% - 10px);
        right: 10px;
        transform: rotateZ(45deg);
    }

    .carousel-item {
        position: relative;
        width: 100%;
        display: none;
        float: left;
        margin-right: -100%;
        transition: transform 0.6s ease-in-out;
    }
    
    .carousel-item.active,
    .carousel-item.next,
    .carousel-item.prev {
        display: block;
    }

    .next:not(.left),
    .active.prev {
        transform: translate(100%);
    }

    .prev:not(.right),
    .active.left {
        transform: translateX(-100%);
    }
    
    .carousel-item > img {
        width: 100%;
    }
}

@media only screen and (max-height: 420px) and (orientation: landscape) {
    .gallery {
        background-color: #EDC7B7;
        padding: 75px 10px;
        height: 100vh;
    }
    
    .carousel {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        height: 100%;
    }

    .carousel-prev {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 10px solid rgba(255, 255, 255, 0.75);
        border-left: 10px solid rgba(255, 255, 255, 0.75);
        top: calc(50% - 10px);
        left: 10px;
        transform: rotateZ(-45deg);
    }
    
    .carousel-next {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 10px solid rgba(255, 255, 255, 0.75);
        border-right: 10px solid rgba(255, 255, 255, 0.75);
        top: calc(50% - 10px);
        right: 10px;
        transform: rotateZ(45deg);
    }

    .carousel-item {
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
        float: left;
        margin-right: -100%;
        transition: transform 0.6s ease-in-out;
    }
    
    .carousel-item.active,
    .carousel-item.next,
    .carousel-item.prev {
        display: block;
    }

    .next:not(.left),
    .active.prev {
        transform: translate(100%);
    }

    .prev:not(.right),
    .active.left {
        transform: translateX(-100%);
    }
    
    .carousel-item > img {
        height: 100%;
        display: block;
        margin: auto;
    }
}