@media only screen and (max-width: 420px) and (orientation: portrait) {
    .wow > div {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        padding: 40px 10px 10px 10px;
        text-align: center;
        margin: 30px 15px;
        position: relative;
        font-size: 18px;
        line-height: 28px;
    }

    .wow h3 {
        position: absolute;
        background-color: #BAB2B5;
        color: rgba(0, 0, 0);
        padding: 10px;
        top: -30px;
        max-width: calc(100% - 40px);
    }
}

@media only screen and (max-height: 420px) and (orientation: landscape) {
    .wow > div {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        padding: 40px 10px 10px 10px;
        text-align: center;
        margin: 30px 15px;
        position: relative;
        font-size: 18px;
        line-height: 28px;
    }

    .wow h3 {
        position: absolute;
        background-color: #BAB2B5;
        color: rgba(0, 0, 0);
        padding: 10px;
        top: -30px;
        max-width: calc(100% - 40px);
    }
}